.burger{
    width: 50px !important;
}

.home-header {
    height: 85vh;
    margin-top: $navbar-height;
    background: linear-gradient(to bottom, #5BBCDA, #fff);
    background-size: cover;
    color: #fff;
    clip-path: polygon(0 0, 100% 0, 100% 20vh, 0 100%);
    

    
    @include respond-below(xl) {
        margin-top: $navbar-height-lg;
    }

    @include respond-below(lg) {
        margin-top: $navbar-height-md;
        // padding: 1.5rem $main-margin-md 1.5rem 0;
    }

    @include respond-below(sm) {
        margin-top: $navbar-height-xs;
        // padding: $main-margin-xs;
    }

    h1 {
        border-bottom: 2px #fff solid;
        padding-bottom: 2px;
    }
    // this isn't working ...
}

.h-header {
    position: relative;
}
.box {
    height: 50vh;
    width: 40vh;
    background: linear-gradient(to bottom right, #5BBCDA, #fff);
    position: absolute;
    right: -15px;
/*     top: 5vh; */
    bottom: 25vh;
/*     z-index: 1; */
    border-radius: 2%;
   // background: linear-gradient(to bottom, #5BBCDA, #000) !important;
   @include respond-below(sm) {
        display: none;
        // padding: $main-margin-xs;
    }
}

.publications-section {
    color: $theme-color-1;
    background: #fff;
    h1 {
        border-bottom: 2px $theme-color-1 solid;
        padding-bottom: 2px;
    }
}

.shops-section {
    color: #fff;
    background:linear-gradient(to bottom right, #5B2466, #401A2E);
    h1 {
        border-bottom: 2px #fff solid;
        padding-bottom: 2px;
    }
}

.home-pad {
    padding: 14vh 14vw 14vh 14vw;
}
