.burger{
    width: 50px !important;
}

.home-header {
    height: 85vh;
    margin-top: 120px;
    background: linear-gradient(to bottom, #5BBCDA, #fff);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 20vh, 0 100%);
    // z-index: 1;
    .container {
        padding: 100px;
        color: #fff;
        font-weight: 100px;
        font-size: 26px;
    }

    h1 {
        border-bottom: 2px #fff solid;
        padding-bottom: 2px;
    }
    // this isn't working ... 
    .box {
        float: right;
        height: 70vh;
        margin-top: 100px;
        background: #000;
       // background: linear-gradient(to bottom, #5BBCDA, #000) !important;
    }
}


