.burger{
    width: 50px !important;
}
.curveSVG{
    position: absolute;
    bottom: -6px;
}
.home-header {
    position: relative;
    height: 85vh;
    padding-top: $navbar-height;
    background-size: contain;
    color: #304772;
    background: linear-gradient(to bottom right, #fff, #5BBCDA);
    //background: url($curveSVG) ;
    //clip-path: polygon(0 0, 100% 0, 100% 20vh, 0 100%);
    

    
    @include respond-below(xl) {
        padding-top: $navbar-height-lg;
    }

    @include respond-below(lg) {
        padding-top: $navbar-height-md;
        // padding: 1.5rem $main-margin-md 1.5rem 0;
    }

    @include respond-below(sm) {
        padding-top: $navbar-height-xs;
        // padding: $main-margin-xs;
    }

    h1 {
      //  border-bottom: 2px #fff solid;
        padding-bottom: 2px;
    }
    // this isn't working ...
}

.h-header {
    position: relative;
}
.box {
    height: 60vh;
    width: 60vh;
    background: linear-gradient(to bottom right,rgba(255, 255, 255, 0), #5BBCDA), url($headerImage);
    background-position: center;
    background-size: cover;
    //position: absolute;
    //right: 5%;
/*     top: 5vh; */
    //bottom: 25vh;
/*     z-index: 1; */
    border-radius: 25%;
   //background: linear-gradient(to bottom, #5BBCDA, #000) !important;
   @include respond-below(sm) {
        display: none;
        // padding: $main-margin-xs;
    }
}

.publications-section {
    color: $theme-color-1;
    background: #fff;
    h1 {
        border-bottom: 2px $theme-color-1 solid;
        padding-bottom: 2px;
    }
}

.shops-section {
    color: #fff;
    background:linear-gradient(to bottom right, #5BBCDA, #304772);
    h1 {
        border-bottom: 2px #fff solid;
        padding-bottom: 2px;
    }
}

.home-pad {
    position: relative;
    padding: 10vh;
}

.button-home {
    background: #304772;
    border-color: #304772;
}
